export NOTIFY_GMAIL_USER="your sender mail for sending daily digest"
export NOTIFY_GMAIL_APP_PASS="your mail credential key - see readme for generation"
export NOTIFY_TO="mail address you want to recieve daily digest"
